page-home {
    .lc_logo {
        width: 50%;
    }
    .sign_up_btn {
        background-color: #00aff0;
        text-transform: capitalize;
        border-radius: 10px;
        height: 50px;
        box-shadow: none;
    }
    .button_block {
        padding: 0px 40px;
    }
    .sign_in_btn {
        background: transparent;
        color : #000;
        border: 1px solid #00aff0;
        box-shadow: none;
        text-transform: capitalize;
        border-radius: 10px;
        height: 50px;
    }
    .theme-btn {
        margin: 15px 0px;
    }
    .tag_line {
        margin-top: -210px;
    }
    .tag_line label {
        font-size: 16px !important;
        color: #4b4b4b !important;
    }
}
