<ion-header>
  <!-- <ion-navbar >
    <ion-title>
     Home 
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>
    <ion-grid style="height: 65%">
        <ion-row justify-content-center align-items-center style="height:100%"> 
            <img src="../../assets/imgs/lc_logo.png" class="lc_logo">
        </ion-row>
    </ion-grid>
    <ion-row justify-content-center align-items-center>
        <ion-list class="tag_line"> 
            <label> Don't just hear, Lister! </label> 
        </ion-list>
    </ion-row>

    <ion-list padding>
        <div class="button_block">
            <button (click)="navigateToSignUp()" ion-button full class="sign_up_btn theme-btn"> Sign Up </button>
            <button ion-button full class="sign_in_btn theme-btn"> Sign In </button>
        </div>
    </ion-list>
</ion-content>
