page-sign-up {
    .font-text {
        font-family: "Open Sans" !important;
    }
    .bg_signup {
        background: url('../../assets/bg/signup_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box_logo {
        background: #fff;
        width: 30%;
        padding-top: 7px;
        padding-left: 5px !important;
        border-radius: 24px;
    
    }
    .custom_card {
        margin: 20px !important;
        padding: 10px !important;
    } 
    span.icon_align {
        margin-top: 0px;
        // position: absolute;
        // margin-left: 70%;
        margin-top: 10px;
    }
    span.icon_align ion-icon {
        font-size: 30px !important;
    }
    ion-input.input.input-md {
        margin-top: -20px;
        margin: -10p;
        width: 78%;
    }
    .button_block {
        margin-top: -45px;
        padding: 0px 33px;
    }
    button.signup {
        height: 48px;
        font-size: 18px;
    }

    button.signup {
        height: 48px;
        font-size: 18px;
        background: #f72424;
    }
    button span.small-text {
        font-size: 12px !important;
        text-transform: capitalize;
        padding-right: 10px; 
    }
    button.facebook-btn {
        background: #3B5998 !important;
    }
    .already_have_text {
        padding-top: 15px;
        text-align: center;
    }
    span.login_link {
        font-size: 16px !important;
        font-weight: bold;
    }
    ion-header {
        .toolbar {
          position: absolute;
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: #fff;
          }
        }
      }

    ion-header ion-icon.back-button-icon.icon {
        color: #fff;
    }

    
}
