<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border transparent>
<ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content class="bg_signup">
    <ion-grid style="height: 30%">
        <ion-row justify-content-center align-items-center style="height:100%">
            <div class="box_logo">
                <img src="../../assets/imgs/lc_logo.png" class="">
            </div>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-card class="custom_card">
                <ion-list>
                    <ion-item>
                        <ion-label stacked> Full Name
                                <span class="icon_align" float-right> <ion-icon name="person"></ion-icon> </span>
                        </ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item> 
                    <ion-item>
                        <ion-label stacked>E-mail 
                            <span class="icon_align" float-right> <ion-icon name="mail"></ion-icon> </span>
                        </ion-label>
                        <ion-input type="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked> Password 
                            <span class="icon_align" float-right> <ion-icon name="eye"></ion-icon> </span>
                        </ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>
                    <ion-item>
                        
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div class="button_block">
                    <button ion-button round full class="signup">Sign Up</button>
                    <button ion-button round full class="signup facebook-btn"><span class="small-text"> Sign Up With</span> Facebook</button>
                </div>
                <p class="already_have_text"> Already have an account ? <span class="login_link">Sign In</span></p>
            </ion-col>    
        </ion-row>
    </ion-grid>
</ion-content>
